@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F2F4FC;
}

.flex {
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hidden {
  display: none;
}

nav {
  justify-content: space-between;
  align-items: center;
  width: 36rem;
  margin: 2rem 2.2rem;
}

nav>div>a>img {
  width: 7rem;
}

.contact-btn {
  background-color: #072AC8;
  color: white;
  font-size: 1.06rem;
  padding: 1rem 2rem;
}

footer{
  min-width: 40rem;
  align-items: center;
}

.address > img{
  width: 8rem;
  margin-top: 1.5rem;
  margin-left: 8rem
}

.address > address{
color:#6B708D;
font-size: 1.06rem;
padding: 1rem;
}

.links-footer > a{
  color: #072AC8;
  font-size: 1.06rem;
  padding: 0.5rem
}

.form{
  max-width: -webkit-fill-available;
  margin: 4rem;
}

form{
  max-width: 30rem;
}

h1{
  font-size: 2.75rem;
  color:#292E47;
  text-align: center;
  margin-bottom: 2rem;
}

label{
  color:#6B708D;
  font-size: 1.06rem;
  padding: 0.5rem 0;
}

.contact-text-field {
  padding-left: 0.9rem;
  background-color: rgba(107, 112, 141, 0.1);
}

input, textarea{
  border: none;
  background-color: #6B708D;
  opacity: 0.1;
  color:black;
  height: 4.3rem;
  opacity: 0.5;
}

.blue-btn {
  background-color: #072AC8;
  color: white;
  font-size: 1.06rem;
  padding: 1rem 2rem;
  border: none;
  width:37rem;
}

#name{
  width: 37rem;
  margin: 1rem 0;
}

#email, #phone{
  width: 37rem;
}

.second-line{
  gap: 2.5rem;
  flex-direction: column;
}

.message{
  gap:1rem
}

#message{
  width: 37rem;
  height: 30rem;
  padding: 1rem 0.5rem;
}


@media (min-width: 700px){
  nav {
    width:-webkit-fill-available;
    margin: 2rem 12.2rem;
  }

  nav>div>a>img {
    width: 5rem;
}

  .hidden{
    display: block;
  }

  .hidden > a{
    color:#6B708D;
    font-size: 1.06rem;
    font-weight: 700;
    padding: 1rem;
  }

  .hidden > a:active{
    color:#072AC8
  }

  footer{
    flex-direction: row !important;
    justify-content: space-around;
    margin: 3rem 0;
  }
  
  .address{
    display: flex;
    flex-direction: column;
  }
  
  .address > img {
    width: 8rem;
    margin: 1rem 0;
  }
  
  .address > address{
    padding: 1rem 0;
      max-width: 16rem;
  }
  
  .grid{
    gap: 3.5rem;
  }

  h1{
    text-align: left;
    font-size: 3.75rem;
  }

  form {
    max-width: 62rem;
}

.form{
  margin: 4rem 12rem;
}

label{
  font-size: 1.25rem;
}
  
#name{
  width: -webkit-fill-available;
    height: 5rem;
}

#phone, #email{

  width: 28.9rem;
  height: 5rem;
}

#message, .blue-btn{
  width: -webkit-fill-available;
}

.blue-btn{
  height: 5rem;
}

.second-line{
  flex-direction: row;
}
}