@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F2F4FC;
}

.flex {
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hidden {
  display: none;
}

.hero-portrait {
  max-width: 30rem;
}

nav {
  justify-content: space-between;
  align-items: center;
  width: 29rem;
  margin: 2rem 2.2rem;
}

nav>div>a>img {
  width: 7rem;
}

.blue-btn {
  background-color: #072AC8;
  color: white;
  font-size: 1.06rem;
  padding: 1rem 2rem;
  border: none;
}

.buttons{
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.hero{
  margin:1rem;
  width: max-content;
}
.hero > div{
  text-align: center;
  max-width: 30rem;
  align-items: center;
}

.hero > div > h1{
  font-size: 3.05rem;
  font-weight: 700;
  color: #292E47;
  padding: 1.5rem 0;
}

.hero > div > p{
  font-size: 1.45rem;
  color: #6B708D;
  padding: 1rem;
  text-align: center;
}

.hero > div > a{
  margin: 1rem;
  max-width: 10rem;
  align-items: center;
}

.link-work{
  color:#6B708D;
  font-size: 1.06rem;
  font-weight: 500;
}

.logos{
  width: 33rem;
    gap: 1.5rem;
    margin: 2.5rem 2rem 0;
    flex-wrap: wrap;
    margin-bottom: 4.5rem;
}
.logos > img{
  width: 12rem;
  padding: 0 1rem;

}

.testimonies{
  background-color: #292E47;
  min-width: max-content;
  margin: 1.5rem 0;
}

.testimonies > div{
  align-items: center;
  justify-content: center;
}

.testimonies > h2{
  color: #F2F4FC;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  padding: 1.5rem 4rem;
  max-width: 27rem;
}

.testimonies > p {
  color: #FFC600;
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem;
  max-width: 27rem;

}

.booking-profile{
  width: 5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin: 1rem;
}

.booking > p{
color: #A2D6F9;
font-size: 1.2rem;
}

.booking > span{
  color: #F2F4FC;
  font-size: 0.813rem;
}

.services{
  min-width: max-content;
}

.services > h2{
  color:#292E47;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  min-width: 29rem;
  margin-left: -9vw;
  padding: 3rem 0;
}

.projects{
  align-items: center;
  max-width: max-content;
  padding: 1rem 2rem;
}
.container{
  max-width: 27rem;
  margin: 1rem;
  background-color: white;
  padding: 1.5rem;
}

.container > div{
  border-radius: 50%;
    background-color: #D1EDFF;
    width: fit-content;
    padding: 1rem;
}

.container > h2{
  color: #292E47;
    font-size: 1.8rem;
    padding: 2rem 1rem;
}

.container > p{
  color: #6B708D;
  font-size: 1.45rem;
  padding: 0rem 1rem 2rem;
}

.container > a{
  
  color: #072AC8;
  padding: 1.5rem 1rem;
  font-size: 1.26rem;

}

.container > img {
  max-width: 26rem;
  max-height: 27rem;
}

#project2-img{
  width: 27rem;
  height: 27rem;
  object-fit: cover;
  object-position: 47% 31%;
}
.contact{
  background-color: #FFC600;
  max-width: 36rem;
  align-items: center;
}

.contact > h2{
  color: #292E47;
  font-size: 2rem;
  padding: 4.8rem 0;
}

.contact > span{
  color:#292E47;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}

.email{
  background-color: white;
  color: #292E47;
  font-size: 1.06rem;
  border: none;
  padding: 1.1rem 1.5rem;
  margin-bottom: 4rem;
  margin-right: 0.5rem;
}

footer{
  max-width: 34rem;
  align-items: center;
}

.address > img{
  width: 8rem;
  margin-top: 1.5rem;
  margin-left: 8rem
}

.address > address{
color:#6B708D;
font-size: 1.06rem;
padding: 1rem;
}

.links-footer > a{
  color: #072AC8;
  font-size: 1.06rem;
  padding: 0.5rem
}

@media (min-width: 700px){
  nav {
    width:-webkit-fill-available;
    margin: 2rem 2.2rem;
  }

  nav>div>a>img {
    width: 5rem;
}

  .hidden{
    display: block;
  }

  .hidden > a{
    color:#6B708D;
    font-size: 1.06rem;
    font-weight: 700;
    padding: 1rem;
  }

  .hidden > a:active{
    color:#072AC8
  }

  .hero > div > h1 {
    font-size: 3.75rem;
    text-align: left;
    margin-top: 8rem;
    max-width: 40rem;
}

.hero > div > p {
  font-size: 1.25rem;
  text-align: left;
  padding: 1rem 0;
  max-width: 29rem
}

  .hero{
    width: -webkit-fill-available;
    flex-direction: row;
    margin: 4rem;
    justify-content: center;
  }

  .hero > div{
    max-width: -webkit-fill-available;
    align-items: flex-start
  }

  .hero-portrait {
    max-width: 34rem;
}

  .credit-card{
    width: 20rem;
    position: absolute;
    top: 88px;
    right: 30vw;
  }

  .thumbs-up{
    width: 20rem;
    position: absolute;
    top: 534px;
    right: 11px;
}
 
.logos {
  width: -webkit-fill-available;
  margin: 8.5rem 2rem;
  justify-content: space-evenly;
}

.logos > img {
  width: 10rem;}

  .projects{
    flex-direction: row;
    margin-bottom: 10rem;
    justify-content: center;
    max-width: -webkit-fill-available;
align-items: flex-start;
  }

  .project-desktop{
    max-width: 22rem;
  }

  .container > img {
    max-width: 22rem;
    max-height: fit-content;
}

#project2-img {
  width: 24rem;
  height: 22rem;
  object-fit: cover;
  object-position: 47% 31%;
}

  .testimonies{
    background-image: url('../assets/testimonies/orbit.png');
    background-repeat: no-repeat;
    background-size: 111%;
    height: 41rem;
  }
  .testimonies > img{
    width:10rem;
  }

  .top-left{
    position: relative;
    top: 82px;
    left: 80px;
  }
  .top-right{
    position: relative;
    top: -78px;
    left: 83vw;
  }
  .bottom-right{
    position: relative;
    bottom: 330px;
    right: -84vw;
  }
  .bottom-left{
    position: relative;
    top: -168px;
    left: 75px;
  }

  .testimonies > h2{
        padding:0;
        max-width: 48rem;
        position: relative;
        top: -172px;
        right: -24vw;
  }

  .testimonies > p{
    max-width: 36rem;
    position: relative;
    top: -93px;
    left: 30vw;
  }

  .testimonies > div{
    position: relative;
    top: -43px;
    left: 3vw;
  }

  .desktop{
    display: flex;
    margin: 0 5rem;
  }

  .services {
    min-width: -webkit-fill-available;
    margin-bottom: 10rem;
}

.services > h2{
  margin: 7rem;
  text-align: start;
}

.contact{
  padding: 10rem 0;
  margin: 0 3rem;
  max-width: 100%;
}
.contact > h2 {
  font-size: 2.5rem;
}

footer{
  flex-direction: row !important;
  justify-content: space-around;
  margin: 3rem 0;
  max-width: 100%;
}

.address{
  display: flex;
  flex-direction: column;
}

.address > img {
  width: 8rem;
  margin: 1rem 0;
}

.address > address{
  padding: 1rem 0;
    max-width: 16rem;
}

.grid{
  gap: 3.5rem;
}
}