@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #F2F4FC;
}

.flex {
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

nav {
  justify-content: space-between;
  align-items: center;
  width: 29rem;
  margin: 2rem 2.2rem;
}

nav>div>a>img {
  width: 7rem;
}

.contact-btn {
  background-color: #072AC8;
  color: white;
  font-size: 1.06rem;
  padding: 1rem 2rem;
}